@charset "UTF-8";

body {
    background: #2f323a;
    padding: 0;
    font-size: 13px !important;
    color: #888 !important;
}
.profile {
    background: #111;
    width: 100%;
    position: relative;
    top: -13px;
    left: 0;
    height: 75px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    z-index: 99;
}
.profile img {
    width: 55px;
    height: 55px;
    float: left;
    opacity: 0.9;
    position: relative;
    top: 10px;
    margin-left: 13px;
    background: #ffa500;
    border-radius: 50%;
    padding: 7px;
}
.profile h3 {
    color: white;
    opacity: 0.9;
    position: relative;
    top: 25px;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 18px;
    left: 15px;
}
.profile span {
    position: relative;
    left: 12px;
    top: 30px;
    color: #fff;
}
#skin-select h3,
#skin-select h4 {
    font-family: "Montserrat", sans-serif;
}
#skin-select {
    position: absolute;
    top: 10px;
    width: 250px;
    left: 0;
    z-index: 1000;
    background: #2f323a;
}
#skin-select #toggle {
    background: #111;
    color: white;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -25px;
    text-align: left;
    top: 14px;
    width: 25px;
    font-size: 13px;
    z-index: 999;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    border-radius: 0 4px 4px 0;

    display: none;
}
#skin-select #toggle:hover {
    background: #111;
}
#skin-select #toggle.active {
    background: #111;
    color: white;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -25px;
    text-align: left;
    top: 14px;
    width: 25px;
    font-size: 13px;
    z-index: 1;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    border-radius: 0 4px 4px 0;
}
#skin-select #toggle.active:hover {
    background: #111;
}
#skin-select li span {
    left: 1px;
    font-weight: 700 !important;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}
#skin-select li ul li {
    line-height: 20px;
}
#skin-select li b {
    position: relative;
    top: 8px;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.1);
    padding: 0 20px 0 0;
}
#skin-select li i {
    font-size: 15px;
    left: -5px;
    position: relative;
    width: 30px;
    top: 3px !important;
    display: inline-block;
    height: 30px;
    text-align: center;
    padding: 8px 0 0;
    border-radius: 100%;
}
#skin-select li li i {
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    left: -5px;
    line-height: 15px;
    position: relative;
    width: 23px;
    top: 2px;
}
.skin-part {
    padding: 0;
    position: relative;
    top: 0;
}
.skin-part h3 {
    text-shadow: none;
    margin-bottom: 10px;
}
.skin-part h3 span {
    background: rgba(0, 0, 0, 0.2);
    padding: 4px 10px 5px;
    border-radius: 10px;
    margin-left: 0px;
    font-size: 11px;
    color: #f2f2f2;
}
.skin-part h3 small {
    margin-left: 6px;
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 2px 6px;
    border-radius: 15px;
    position: relative;
    top: -3px;
}
.skin-part h4 {
    font-size: 1em;
    margin: 7px 0 !important;
}
.devider-horizontal {
    width: 100%;
    height: 2px;
    display: inline-block;
    padding: 15px 0 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#menu-showhide {
    margin: -10px 0 0;
    position: relative;
    z-index: 0;
}
#menu-select {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 0 0 40px;
    position: relative;
}
#menu-select:before {
    content: "";
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.topnav {
    padding: 40px 28px 25px 0;
}
img.icon-menu {
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 3px;
}
ul.topnav {
    margin: 0;
    font-size: 14px;
    line-height: 0.5em !important;
    list-style: none !important;
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
ul.topnav li a {
    color: #eee !important;
    font-weight: bold;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 32px;
    list-style: none outside none;
    padding: 0 10px 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}
ul.topnav li a:hover {
    background: red;
}
ul.topnav li a:hover {
    background: #25272E;
    color: white !important;
    text-shadow: none;
    position: relative;
}
ul.topnav li a:hover:before {
    content: "";
    background: #92cd18;
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
    background: #25272E;
    position: relative;
}
ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none outside none;
}
ul.topnav ul li a {
    color: #fff;
    font-size: 12px;
    font-weight: 100 !important;
    outline: 0 none;
    transition: all 0.2s ease 0s;
    text-align: left;
    text-transform: capitalize;
    padding: 6px 0 7px 50px;
}
ul.topnav ul li a:hover {
    background-color: transparent;
    color: #92cd18 !important;
}
ul.topnav ul li a:hover:before {
    content: "";
    background: transparent;
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
ul.topnav ul ul li a {
    color: #444;
    padding-left: 40px;
    background: #c8c8c8;
    transition: all 0.2s ease 0s;
}
ul.topnav ul ul li a:hover {
    background-color: #D3CEB8;
    color: #0C7CBB;
}
ul.topnav h4 {
    float: right !important;
    margin-top: -2px;
}
#paper-bg {
    background: #f5f5f5;
    min-height: 1040px;
    margin: 0 0 -35px;
    /*padding: 0 15px 35px;*/
    position: relative;

    width: auto;
    margin-left: 260px;
}
@media screen and (max-width: 40em) {
    #paper-bg {
        margin-left: 0;
    }
}
#paper-bg:before {
    background: red;
    position: absolute;
    display: block;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
}
.wrap-fluid {
    /*padding: 20px;*/
    /*width: 100%;*/
}

.top-bar {
    min-height: 72px;
}
.top-bar-left,
.top-bar-right {
    padding-top: 0.7rem;
}

.content-wrapper {
    padding: 1rem 3rem;
}




.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	#skin-select {
		display: none;
	}

    .skin-part {
        margin-left: 0;
    }

	.slicknav_menu {
		display:block;
	}
}
